###### Front end Swing #########################################
ticketsystemclient/target/
ticketsystemclient/!.mvn/wrapper/maven-wrapper.jar
ticketsystemclient/!**/src/main/**/target/
ticketsystemclient/!**/src/test/**/target/

### IntelliJ IDEA ###
ticketsystemclient/.idea/modules.xml
ticketsystemclient/.idea/jarRepositories.xml
ticketsystemclient/.idea/compiler.xml
ticketsystemclient/.idea/libraries/
ticketsystemclient/*.iws
ticketsystemclient/*.iml
ticketsystemclient/*.ipr

ticketsystemclient/.gitignore modifie

###### Backend Spring Boot #########################################

### IntelliJ IDEA ###
ticketsystem/.idea
ticketsystem/*.iws
ticketsystem/*.iml
ticketsystem/*.ipr

ticketsystem/.env
ticketsystem/*.env
ticketsystem/!.env.example

# Application properties with secrets
ticketsystem/**/src/main/resources/application.properties

# Logs
ticketsystem/logs/
ticketsystem/*.log

ticketsystem/HELP.md
ticketsystem/target/
!ticketsystem/target/ticketsystem-0.0.1-SNAPSHOT.jar
ticketsystem/!.mvn/wrapper/maven-wrapper.jar
ticketsystem/!**/src/main/**/target/
ticketsystem/!**/src/test/**/target/

ticketsystem/.gitignore modifie

ORIGINAL README.md

